<div class="confirm-header">
  <h1 mat-dialog-title>Delete</h1>
  <button [mat-dialog-close]='false' class="close" mat-icon-button>
    <i class="material-icons">close</i>
  </button>
</div>
<div class="dialog-content">
  <h3>Are you want to delete</h3>
</div>
<div class="dialog-footer">
  <div class="dialog-footer">
    <button mat-button class="glbl-btn  red-btn" [mat-dialog-close]='false'>
      <span>Delete</span>
    </button>
    <button mat-button class="glbl-btn" [mat-dialog-close]='false'>
      <span>Cancel</span>
    </button>
  </div>
</div>
