<div class="confirm-header">
  <h1 mat-dialog-title>Promise To Pay</h1>
  <!-- <button > -->
  <i mat-icon-button class="material-icons close pointer" [mat-dialog-close]='false'>close</i>
  <!-- </button> -->
</div>
<div class="dialog-content" [formGroup]="promisePayForm">


  <div>
    <label>CustomerName</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="CustomerName">
    </mat-form-field>
    <div *ngIf="submitted && f.CustomerName.errors" class="invalid-feedback">
      <div *ngIf="f.CustomerName.errors.required">CustomerName is required</div>
    </div>
  </div>

  <div>
    <label>ExpectedDate</label>
    <mat-form-field class="glbl-datepicker" [floatLabel]="'never'">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="planModel.start_time"
        (ngModelChange)='dateChanged($event)' formControlName="ExpectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="submitted && f.ExpectedDate.errors" class="invalid-feedback">
      <div *ngIf="f.ExpectedDate.errors.required">ExpectedDate is required</div>
    </div>
  </div>

  <div>
    <label>Description</label>
    <mat-form-field class="glb-textarea" [floatLabel]="'never'">
      <textarea matInput formControlName="Description"></textarea>
    </mat-form-field>
    <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
      <div *ngIf="f.Description.errors.required">Description is required</div>
    </div>
  </div>

  <div>
    <label>Related To</label>

    <mat-form-field class="glb-ctrl-search pad-xl" [floatLabel]="'never'">
      <input matInput placeholder="" [(ngModel)]="selectedItem" formControlName="RelatedTo">
      <img matPrefix mat-button [matMenuTriggerFor]="menu"
       src="assets/images1/account_120.png">
      <!-- <mat-icon matPrefix mat-button [matMenuTriggerFor]="menu">
        arrow_drop_down_circle</mat-icon> -->
    </mat-form-field>
    <div *ngIf="submitted && f.RelatedTo.errors" class="invalid-feedback">
      <div *ngIf="f.RelatedTo.errors.required">Related To is required</div>
  </div>
  <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName.errors?.required">
      <sup>*</sup>Please enter your city name
   </div> -->
    <mat-menu #menu="matMenu" class="menu-xl">
      <button mat-menu-item (click)="selcetedItem('Accounts')">
        <img matPrefix mat-button src="assets/images1/account_120.png" class="blue">
        <span>Accounts</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Relationship')">
        <img matPrefix mat-button src="assets/images1/accounts/asset_relationship_120.png" class="green">
        <span>Relationship</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Maintenance')">
        <img matPrefix mat-button src="assets/images1/accounts/maintenance_plan_120.png" class="red">
        <span>Maintenance</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Invoice')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="blue">
        <span>Invoice</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Orders')">
        <img matPrefix mat-button src="assets/images1/accounts/orders_120.png" class="orange">
        <span>Orders</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Products')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="yellow">
        <span>Products</span>
      </button>
    </mat-menu>
  </div>


  <div>
    <label>PaymentMethod</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="PaymentMethod">
    </mat-form-field>
    <div *ngIf="submitted && f.PaymentMethod.errors" class="invalid-feedback">
      <div *ngIf="f.PaymentMethod.errors.required">Payment Method is required</div>
    </div>
  </div>
</div>



<div class="dialog-footer">
  <div class="dialog-footer">
    <button mat-button class="glbl-btn  green-btn" (click)='onSubmit()'>
      <span>Save</span>
    </button>
    <button mat-button class="glbl-btn" [mat-dialog-close]='false'>
      <span>Cancel</span>
    </button>
  </div>
</div>
