<div class="confirm-header">
    <h1 mat-dialog-title>{{ titlesRole }} Roles</h1>
   <!--  <button [mat-dialog-close]='false' class="close" mat-icon-button>
      <i class="material-icons">close</i>
    </button> -->
    <i mat-icon-button class="material-icons close pointer" [mat-dialog-close]='false'>close</i>
  </div>
  
  <div class="dialog-content" [formGroup]="roleForm">
     <!-- <div id="demo"></div>  -->
     
    <div>
      <label>Role Name:</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Enter Role Name" value="" formControlName="RoleName">
      </mat-form-field>

      <div *ngIf="submitted && f.RoleName.errors" class="invalid-feedback">
        <div *ngIf="f.RoleName.errors.required">Role Name is required</div>
      </div>

    </div>

    <div>
      <span>Plugin Name:</span>
      <mat-form-field class="glb-ctrl-drop" [floatLabel]="'never'">
        <!-- <mat-select panelClass="drop-panel" [(ngModel)]="selectedPluginName" [(value)]="pluginnames[0].value" (change)="changePluginName($event)"> -->
           <mat-select placeholder="Select Plugin Name" panelClass="drop-panel" [(ngModel)]="selectedPluginName" (ngModelChange)="changePluginName($event)" formControlName="PluginName">
            <!-- <mat-select placeholder="Select Plugin Name" panelClass="drop-panel" [(ngModel)]="selectedPluginName" (selectionChange)="changePluginName($event)" formControlName="PluginName"> -->
          <mat-option *ngFor="let pluginname of pluginnames" [value]="pluginname.Name" [attr.data-Name]="pluginname.Name">
            {{pluginname.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="submitted && f.PluginName.errors" class="invalid-feedback">
        <div *ngIf="f.PluginName.errors.required">Plugin Name is required</div>
      </div>

    </div>

    <div *ngIf="edited">
      <label>Permissions:</label>
      
      <div class="inner-fieldset">

        <div *ngFor="let permissionname of permissionsData">
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'" [checked]="permissionname.state" name="permissionsData" 
          id="{{permissionname.Name}}" (change)="onCheckboxChange($event,[(permissionname.Name)])">
          <label> {{ permissionname.Name }} </label>
          </mat-checkbox>
        </div>

         <!-- <div *ngFor="let permissionname of permissionsData">
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'" [checked]="permissionname.state" name="{{permissionname.name}}" 
          id="{{permissionname.name}}" (change)="onCheckboxChange($event,[(permissionname.name)])">
          <label> {{ permissionname.name }} </label>
          </mat-checkbox>
        </div> -->
       
      </div>

    </div>


  </div>
  <div class="dialog-footer">
    <button mat-button class="glbl-btn" (click)='saveRoleData()'>
      <span>Save</span>
    </button>
    <button mat-button class="glbl-btn" (click)='closeProjectDialog()'>
      <span>Cancel</span>
    </button>
    
  </div>
  <!-- {{selectedPluginName | json}} -->