<!-- 
<div class="group-wrapper" *ngIf='!isGroupTabOpen'>
  <div class="single-flex">
    <button mat-button class="xs-glbl-btn green-btn">
      <mat-icon>add_circle</mat-icon>
      <span>New Group</span>
    </button>

  </div>
  <div class="group-inner">
    <app-table-grid></app-table-grid>
  </div>
</div>


<ng-container *ngIf='isGroupTabOpen'>

  <div class="bold"><span>Groups:</span>{{groupSelectedData}}</div>
  <mat-tab-group class="nav md-tabs nav-justified">
    <mat-tab label="General" class="nav-item">
      <div class="xs-width-30">
        <span>User:</span>
        <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
          <input matInput placeholder="Search" value="">
        </mat-form-field>
      </div>
      <div>
        <button mat-button class="glbl-btn">
          Save
        </button>
      </div>
    </mat-tab>
    <mat-tab label="User">
      <div class="table-wrapper">
        <table class="mat-table glbl-tbl">
          <thead>
            <tr>
              <th>
                User
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test1</td>
              <td>
                <mat-icon mat-icon-button class="mat-icon edit"> delete_forever </mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Project">
      <div class="single-flex">
        <button mat-button class="xs-glbl-btn green-btn" (click)='openProjectDialog()'>
          <mat-icon>add_circle</mat-icon>
          <span>Add Projects</span>
        </button>
      </div>
      <table class="mat-table glbl-tbl">
        <thead>
          <tr>
            <th>
              Project
            </th>
            <th>
              Role
            </th>
            <th>
              Edit
            </th>
            <th>
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Test1</td>
            <td>Manager ,Reporter,Developer</td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit"> create </mat-icon>
            </td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit"> delete_forever </mat-icon>
            </td>
          </tr>
          <tr>
            <td>Test1</td>
            <td>Manager ,Reporter,Developer</td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit"> create </mat-icon>
            </td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit"> delete_forever </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</ng-container>
 -->

 <div class="group-wrapper" *ngIf="!isGroupTabOpen">
  <div class="single-flex">
    <button
      mat-button
      class="xs-glbl-btn green-btn"
      (click)="openNewTeamDialog()" onclick="this.blur()"
    >
      <mat-icon>add_circle</mat-icon>
      <span>New Team</span>
    </button>
  </div>
  <div class="group-inner">
    <app-table-grid></app-table-grid>
  </div>
</div>

<ng-container *ngIf="isGroupTabOpen">
  <div class="bold"><span>Groups:</span>{{ groupSelectedData }}</div>
  <mat-tab-group class="nav md-tabs nav-justified">
    <mat-tab label="General" class="nav-item">
      <div class="xs-width-30">
        <span>User:</span>
        <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
          <input matInput placeholder="Search" value="" />
        </mat-form-field>
      </div>
      <div>
        <button mat-button class="glbl-btn">
          Save
        </button>
      </div>
    </mat-tab>
    <mat-tab label="User">
      <div class="table-wrapper">
        <table class="mat-table glbl-tbl">
          <thead>
            <tr>
              <th>
                User
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test1</td>
              <td>
                <mat-icon mat-icon-button class="mat-icon edit">
                  delete_forever
                </mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Project">
      <div class="single-flex">
        <button
          mat-button
          class="xs-glbl-btn green-btn"
          (click)="openProjectDialog()" onclick="this.blur()">
          <mat-icon>add_circle</mat-icon>
          <span>Add Projects</span>
        </button>
      </div>
      <table class="mat-table glbl-tbl">
        <thead>
          <tr>
            <th>
              Project
            </th>
            <th>
              Role
            </th>
            <th>
              Edit
            </th>
            <th>
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Test1</td>
            <td>Manager ,Reporter,Developer</td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit">
                create
              </mat-icon>
            </td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit">
                delete_forever
              </mat-icon>
            </td>
          </tr>
          <tr>
            <td>Test1</td>
            <td>Manager ,Reporter,Developer</td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit">
                create
              </mat-icon>
            </td>
            <td>
              <mat-icon mat-icon-button class="mat-icon edit">
                delete_forever
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</ng-container>


