app-filter {
  font: 500 14px/28px "Poppins", sans-serif;
  color: #252324;
  display: block;
  margin: 0 0 20px 0;
  fieldset {
    .inner-fieldset {
      align-items: center;
      justify-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      > div {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        > span {
          color: #161341;
          font: 400 14px "Poppins", sans-serif;
          padding-right: 3px;
        }
      }
    }
  }
}
