
<div class="tiles-wrapper">
  <a class="tiles-inner user-details"  [routerLink]="['/authorisation/user']" routerLinkActive="active">
    <span>Users</span>
  </a>
  <a class="tiles-inner proj" [routerLink]="['/authorisation/project']" routerLinkActive="active">
    <span>Plugins</span>
  </a>
  <a class="tiles-inner group" [routerLink]="['/authorisation/group']" routerLinkActive="active">
    <span>Team Space</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/authorisation/role']" routerLinkActive="active">
    <span>Roles & permission</span>
  </a>
</div>
