<div class="user-wrapper">
  <div class="user-inner-left">
    <div class="inner">
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Project
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Fourms
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Calender
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                View Calender
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Documents
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Files
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Gannt
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Issue Tracking
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Repository
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Scrum
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="glbl-set">
        <legend>
          <mat-checkbox class="glbl-checkbox grey" [labelPosition]="'after'">
          </mat-checkbox>Time Tracking
        </legend>
        <div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
          <div class="inner-fieldset">
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>

            <div>
              <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                Carrot Rule
              </mat-checkbox>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

  </div>
</div>
