<div class="dialog-content" [formGroup]="addCustomerForm">
  <mat-tab-group>
    <mat-tab label="Account Details">

      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title>
                Customer Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details">
              <div>
                <label>Code</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="TeamSpaceId" readonly>
                </mat-form-field>

              </div>
              <div class="margin-none">
                <label>Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="Name">
                </mat-form-field>
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors.required">Name is required</div>
                </div>
              </div>
              <div>
                <label>Company Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="CompanyName">
                </mat-form-field>
                <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
                  <div *ngIf="f.CompanyName.errors.required">CompanyName is required</div>
                </div>
              </div>
              <div class="margin-none">
                <label class="teamspace">TeamSpace
                  <mat-icon (click)="newTeamSpace()" *ngIf='isTeamSpaceAdded'>clear</mat-icon>
                  <ng-container *ngIf='!isTeamSpaceAdded'>
                    <!-- <button mat-button (click)='addTeamSpace()' class="glbl-btn green-btn">Add TeamSpace</button> -->
                    <!-- <mat-icon (click)='addTeamSpace()'>add_circle</mat-icon> -->
                  </ng-container>
                </label>


                <ng-container *ngIf='isTeamSpaceAdded'>
                  <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                    <input matInput placeholder="" value="" formControlName="TeamSpace">
                  </mat-form-field>
                  <div *ngIf="submitted && f.TeamSpace.errors" class="invalid-feedback">
                    <div *ngIf="f.TeamSpace.errors.required">TeamSpace is required</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title>
                Bussines Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details bussinesaddress">
              <div>
                <label>Address1</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="Address1">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Address2</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="Address2">
                </mat-form-field>
              </div>
              <div>
                <label>City</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="City">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Country</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="Country">
                </mat-form-field>
              </div>
              <div>
                <label>Pin Code</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="PinCode">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title>
                Bussiness Contact
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  bussinesscontact">
              <div>
                <label>Email</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="Email">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Website</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="Website">
                </mat-form-field>
              </div>
              <div>
                <label>City</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="City1">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Phone</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="Phone">
                </mat-form-field>
              </div>
              <div>
                <label>Mobile</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="Mobile">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-tab>
    <mat-tab label="Contact">
      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title>
                Contact
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  Contact">
              <!-- <div>
                <label>Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="ContactName">
                </mat-form-field>
              </div> -->
              <div>
                <label>Address</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="" formControlName="ContactAddress">
                </mat-form-field>
              </div>
              <div>
                <label>PhoneMobile</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="PhoneNumber">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Fianace settings">
      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title>
                Fianace settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  Contact">
              <div>
                <label>Bank Account</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="BankAccount">
                </mat-form-field>
              </div>
              <div>
                <label>Bank Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="" formControlName="BankName">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
<div class="dialog-footer">
  <button mat-button class="glbl-btn  green-btn" (click)='onSubmit()'>
    <span>Save</span>
  </button>
  <button mat-button class="glbl-btn" (click)='cancelHandler()'>
    <span>Cancel</span>
  </button>
</div>
