

<div>
    <span class="material-icons" (click)='goToProfile()'>
      account_circle
    </span>
  </div>
  
  <div class="table-wrapper tbl-border dialog-tbl">
  
    <table mat-table [dataSource]="dataSource" class="glbl-tbl">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">
          Customer Name
        </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6">
          <span>{{element.Name}}</span> </td>
      </ng-container>
  
  
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Customer Email</th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.Email}}</span> </td>
      </ng-container>
  
      <ng-container matColumnDef="TeamSpaceName">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> TeamSpaceName </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.TeamSpaceName}}</span> </td>
      </ng-container>
  
  
      <ng-container matColumnDef="PhoneNumber">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Phone Number </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.customerContacts[0].PhoneNumber}}</span> </td>
      </ng-container>
  
  
      <!-- <ng-container matColumnDef="UserStatus">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">UserStatus</th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.UserStatus}}</span> </td>
      </ng-container> -->
  
  
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> View </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6">
          <mat-icon mat-icon-button class="edit" (click)='showCustomerDetails(element)'>
            visibility
          </mat-icon>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-container>
      <mat-paginator [length]='count' [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent($event)"></mat-paginator>
    </ng-container>
  </div>
  