<div class="confirm-header">
  <h1 mat-dialog-title>Add New Event </h1>
  <!-- <button > -->
  <i mat-icon-button class="material-icons close pointer" [mat-dialog-close]='false'>close</i>
  <!-- </button> -->
</div>
<div class="dialog-content" [formGroup]="eventForm">
  <div>
    <label>Subject</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="Subject">
    </mat-form-field>
    <div *ngIf="submitted && f.Subject.errors" class="invalid-feedback">
      <div *ngIf="f.Subject.errors.required">Subject is required</div>
    </div>
  </div>
  <div class="justify-flex pad-sm">
    <div>
      <label>Start</label>
      <mat-form-field class="glbl-datepicker" [floatLabel]="'never'">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="StartDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
        <div *ngIf="f.StartDate.errors.required">StartDate is required</div>
      </div>
    </div>
    <div class="parallel">
      <label>Time</label>
      <div class="time-picker">
        <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly formControlName="StartTime">
        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
      </div>
      <div *ngIf="submitted && f.StartTime.errors" class="invalid-feedback">
        <div *ngIf="f.StartTime.errors.required">StartTime is required</div>
      </div>
    </div>
  </div>
  <div class="justify-flex pad-sm">
    <div>
      <label>End</label>
      <mat-form-field class="glbl-datepicker" [floatLabel]="'never'">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="EndDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
      </mat-form-field>
      <div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
        <div *ngIf="f.EndDate.errors.required">EndDate is required</div>
      </div>
    </div>
    <div class="parallel">
      <label>Time</label>
      <div class="time-picker">
        <input [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" readonly formControlName="EndTime">
        <ngx-material-timepicker-toggle [for]="toggleTimepicker1"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
      </div>
      <div *ngIf="submitted && f.EndTime.errors" class="invalid-feedback">
        <div *ngIf="f.EndTime.errors.required">EndTime is required</div>
      </div>
    </div>
  </div>
  <div>
    <mat-checkbox class="glbl-checkbox" (change)='allDay($event)' [labelPosition]="'after'"
      formControlName="AllDayEvent">
      All Day Event
    </mat-checkbox>
    <div *ngIf="submitted && f.AllDayEvent.errors" class="invalid-feedback">
      <div *ngIf="f.AllDayEvent.errors.required">AllDayEvent is required</div>
    </div>
  </div>
  <!-- <div>
    <label>Commenets</label>
    <mat-form-field class="glb-textarea" [floatLabel]="'never'">
      <textarea matInput></textarea>
    </mat-form-field>
  </div> -->
  <div>
    <label>Name</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="Name">
    </mat-form-field>
    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
      <div *ngIf="f.Name.errors.required">Name is required</div>
    </div>
  </div>
  <div>
    <label>Related To</label>

    <mat-form-field class="glb-ctrl-search pad-xl" [floatLabel]="'never'">
      <input matInput placeholder="" [(ngModel)]="selectedItem" formControlName="RelatedTo">
      <img matPrefix mat-button [matMenuTriggerFor]="menu" [attr.src]='imageItemPath'>
    </mat-form-field>
    <div *ngIf="submitted && f.RelatedTo.errors" class="invalid-feedback">
      <div *ngIf="f.RelatedTo.errors.required">RelatedTo is required</div>
    </div>
    <mat-menu #menu="matMenu" class="menu-xl">
      <button mat-menu-item (click)="selcetedItem('Accounts')">
        <img matPrefix mat-button src="assets/images1/account_120.png" class="blue">
        <span>Accounts</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Relationship')">
        <img matPrefix mat-button src="assets/images1/accounts/asset_relationship_120.png" class="green">
        <span>Relationship</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Maintenance')">
        <img matPrefix mat-button src="assets/images1/accounts/maintenance_plan_120.png" class="red">
        <span>Maintenance</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Invoice')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="blue">
        <span>Invoice</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Orders')">
        <img matPrefix mat-button src="assets/images1/accounts/orders_120.png" class="orange">
        <span>Orders</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Products')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="yellow">
        <span>Products</span>
      </button>
    </mat-menu>
  </div>
  <div>
    <label>Assigned To</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput value="" formControlName="AssignedTo">
    </mat-form-field>
    <div *ngIf="submitted && f.AssignedTo.errors" class="invalid-feedback">
      <div *ngIf="f.AssignedTo.errors.required">AssignedTo is required</div>
    </div>
  </div>
  <div>
    <label>Location</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput value="" formControlName="Location">
    </mat-form-field>
    <div *ngIf="submitted && f.Location.errors" class="invalid-feedback">
      <div *ngIf="f.Location.errors.required">Location is required</div>
    </div>
  </div>
</div>
<div class="dialog-footer">
  <div class="dialog-footer">
    <button mat-button class="glbl-btn  green-btn" (click)='onSubmit()'>
      <span>Save</span>
    </button>
    <button mat-button class="glbl-btn" [mat-dialog-close]='false'>
      <span>Cancel</span>
    </button>
  </div>
</div>
