<div class="confirm-header">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <button [mat-dialog-close]='false' class="close" mat-icon-button>
    <i class="material-icons">close</i>
  </button>
</div>

<div class="dialog-content">
  <div class="user-wrapper">
    <div class="user-inner-left">
      <div class="inner">
        <fieldset class="glbl-set">
          <legend>Project</legend>
          <div>
            <div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
              <div class="inner-fieldset">
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>

                <div>
                  <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                    Carrot Rule
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <fieldset class="glbl-set">
    <legend>Role</legend>
    <div class="role">
      <div class="inner-fieldset">
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
      </div>
      <div class="inner-fieldset">
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
      </div>
      <div class="inner-fieldset">
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Manager
          </mat-checkbox>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="dialog-footer">
  <button mat-button class="glbl-btn" (click)='saveProjectData()'>
    <span>Save</span>
  </button>
  <button mat-button class="glbl-btn" (click)='closeProjectDialog()'>
    <span>Cancel</span>
  </button>
</div>
