<div class="table-wrapper">



<div>

  <div *ngIf="isAdminUser" class="filterdata">
    <span>User:</span>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Login"  value="">
    </mat-form-field>
</div>
<br>

  <table
  mat-table
  [dataSource]="dataSource"
  class="glbl-tbl"
  *ngIf="isAdminUser"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Login</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-6">
      <span>{{ element.UserId }}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">First Name</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4">
      <span>{{ element.Name }}</span>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Last Name</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4">
      <span>{{ element.LastName }}</span>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Email</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-6">
      <span>{{ element.EmailId }}</span>
    </td>
  </ng-container>
  <!-- <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Administrator</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-3">
      <mat-icon mat-list-icon class="circle"> check_circle</mat-icon>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Created</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-6">
      <span>{{ dateParseFormateCreated(element) }} </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="lastconnection">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">
      Last Connection
    </th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-6">
      <span> {{ dateParseFormateLatsConnnection(element) }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Delete</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="$event.stopPropagation()"
        class="tbl-xs-6"
      >
        <mat-icon mat-icon-button class="edit" (click)="deleteUsers(element)">
          delete_forever
        </mat-icon>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="viewUser(row)"
  ></tr>
</table>

<ng-container *ngIf='isAdminUser'>
  <mat-paginator [length]='countUsers' [pageSize]="pageSizeUsers" [pageSizeOptions]="pageSizeOptionsUsers"
    (page)="pageEventUsers($event)"></mat-paginator>
</ng-container>
</div>

 <!--  <table mat-table [dataSource]="dataSource" class="glbl-tbl" *ngIf='isAdminUser'>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Login </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.login}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> First Name </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.firstname}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Last Name </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.lastname}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Email </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.email}}</span> </td>
    </ng-container>
    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3"> Administrator </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-3">
        <mat-icon mat-list-icon class="circle">
          check_circle</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Created </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.created}} </span></td>
    </ng-container>
    <ng-container matColumnDef="lastconnection">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Last Connection </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"><span> {{element.lastconnection}}</span> </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Edit </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <mat-icon mat-icon-button class="edit" (click)="viewDetails('1')">
          create
        </mat-icon>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> View </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <mat-icon mat-icon-button class="edit">
          visibility
        </mat-icon>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->




  <!-- Projects Grid -->
  <table mat-table [dataSource]="projectDataSource" class="glbl-tbl" *ngIf='isProject'>

    <!-- Position Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Project </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.project}}</span> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Role </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.role}}</span> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Created </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4">
        {{element.created}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Archive </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4">
        <mat-icon mat-icon-button class="edit">
          archive
        </mat-icon>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="copy">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Copy </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4">
        <mat-icon mat-icon-button class="edit">
          create
        </mat-icon>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Delete </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <mat-icon mat-icon-button class="edit" (click)='deleteDialog()'>
          delete_forever
        </mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="projectDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: projectDisplayedColumns;"></tr>
  </table>






  <!-- role Grid -->
  <div>

    <div *ngIf='isRole'>
      <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
        <mat-label>Filter {{filter.name}}</mat-label>
        <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
          (change)="filterChange(filter,$event)">
          <option value="">-- Select {{filter.name}} --</option>
          <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
        </select>
      </mat-form-field>
      &nbsp;
      <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
    </div>

    <!-- role Grid -->
    <table mat-table [dataSource]="roleDataSource" class="glbl-tbl" *ngIf='isRole'>
  
      <!-- Position Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Role </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span class="pointer" (click)='selectRole(element)'>{{element.RoleName}}</span> </td>
      </ng-container>
  
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="sort">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Sort </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-4">
          <mat-icon mat-icon-button class="edit">
            keyboard_arrow_up
          </mat-icon>
          <mat-icon mat-icon-button class="edit">
            keyboard_arrow_down
          </mat-icon>
        </td>
      </ng-container> -->
  
      <!-- Weight Column -->
      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Edit </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-4">
          <mat-icon mat-icon-button class="edit" (click)='editRole(element)'>
            create
          </mat-icon>
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Delete </th>
        <td mat-cell *matCellDef="let element" class="tbl-xs-6">
          <mat-icon mat-icon-button class="edit" (click)='deleteRole(element)'>
            delete_forever
          </mat-icon>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="roleDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: roleDisplayedColumns;"></tr>
    </table>
  
     <ng-container *ngIf='isRole'>
      <mat-paginator [length]='count' [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent($event)"></mat-paginator>
    </ng-container>
  
  </div>



  <!-- Groups Grid -->
<div>
  <table
  mat-table
  [dataSource]="groupDataSource"
  class="glbl-tbl"
  *ngIf="isGroup"
>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Name</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-6">
      <span class="pointer">{{ element.Name }}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Description</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4">
      <span>{{ element.Description }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="members">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Members</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4" >
      <!-- <span *ngFor="let dataMain of element.teamSpaceMembers"> -->
        <span>
        {{ getMembersStr(element) }}
        <!-- {{ dataMain.CustomerId+',' }} -->
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Edit</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4">
      <mat-icon mat-icon-button class="edit" (click)='editTeamSpace(element)'>
        edit
      </mat-icon>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Delete</th>
    <td mat-cell *matCellDef="let element" class="tbl-xs-4">
      <mat-icon mat-icon-button class="edit" (click)='deleteTeamspace(element)'>
        delete
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns"></tr>
</table>

<ng-container *ngIf='isGroup'>
  <mat-paginator [length]='countTeamSpace' [pageSize]="pageSizeTeamSpace" [pageSizeOptions]="pageSizeOptionsTeamSpace"
    (page)="pageEventTeamSpace($event)"></mat-paginator>
</ng-container>

</div>

  <!-- <table mat-table [dataSource]="groupDataSource" class="glbl-tbl" *ngIf='isGroup'>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Group </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
         <span class="pointer" (click)='groupCicked(element)'>{{element.group}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> User </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4">
        <span>{{element.user}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Delete </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4">
        <mat-icon mat-icon-button class="edit">
          delete
        </mat-icon>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns;"></tr>
  </table> -->

</div>
