table.glbl-tbl tbody tr {
  cursor: pointer;
}

.filterdata {
  font: 500 14px/28px "Poppins", sans-serif;
  color: #252324;
  display: block;
  margin: 0 0 20px 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    > span {
      color: #161341;
      font: 400 14px "Poppins", sans-serif;
      padding-right: 3px;
    }
  
}