legend {
  width: auto;
  //align-self: start;
}

/* .mat-tab-label-active {
  background: #f44336;
} */

/* Styles for tab labels */
.mat-tab-label {
 // min-width: 25px !important;
  padding: 5px;
 // background-color: #F0E68C;
  color: red;
 // font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
 // min-width: 25px !important;
  padding: 5px;
  background-color: #B0C4DE;
  color: red;
 // font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
} 

.user {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

label {
  text-align: left;
}

/* .setslash {
  margin-left: 15px;
}
.margindata {
  margin-left: 15px;
} */

.nav-outer {
  .nav-pills {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #fff;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #e9ecef;
  margin-bottom: 0;
  list-style: none;
}

/* li {
  display: inline;
  list-style-type: none;
} */

/* .ex
 {
  margin:auto;
  width:90%;
  padding:10px;
  border:outset;
 }
 ng-select
 {
  display:inline;
  cursor:pointer;
 } */