<div class="table-wrapper tbl-border">
  <div class="table-header">
    <div>
      <h5>Recently Viewed</h5>
    </div>
    <div>
      <!--
Delete
Add Promise to Pay
Add Task
LogCall -->


      <!-- <button mat-button class="glbl-btn xs-glbl-btn green-btn">
        Edit
      </button> -->
      <button mat-button class="glbl-btn xs-glbl-btn violet-btn" (click)='openLogCall()'>
        Log Call
      </button>
      <button mat-button class="glbl-btn  xs-glbl-btn yellow-btn" (click)='openNewtask()'>
        New Task
      </button>
      <button mat-button class="glbl-btn xs-glbl-btn  blue-btn " (click)='addPromise()'>
        Add Promise to Pay
      </button>
      <button mat-button class="glbl-btn  xs-glbl-btn orange-btn">
        Delete
      </button>
      <button mat-button class="glbl-btn  xs-glbl-btn orange-btn" (click)='addInvoice()'>
        Add Invoice
      </button>
      <span class="material-icons refresh" mat-icon-button>
        loop
      </span>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="glbl-tbl invoice-tbl">

    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-1">
        <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-1">
        <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">
        Customer Name
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.customerName}}</span> </td>
    </ng-container> -->


    <ng-container matColumnDef="InvoiceNumber">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">
        Invoice Number
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-3"> <span>{{element.InvoiceNumber}}</span> </td>
    </ng-container>


    <ng-container matColumnDef="InvoiceDate">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Invoice Date</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.InvoiceDate}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="DueDate">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Due Date </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.DueDate}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="Terms">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3"> Terms </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-3"> <span>{{element.Terms}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Location </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.Location}}</span> </td>
    </ng-container>

    <!-- <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Priority </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <span *ngIf='element.priority===1'>
          <span class="high"></span>
          <span>High</span>
        </span>
        <span *ngIf='element.priority===2'><span class="medium"></span><span>Medium</span> </span>
        <span *ngIf='element.priority===3'><span class="low"></span><span>Low</span> </span>
      </td>
    </ng-container> -->
    Memo

    <ng-container matColumnDef="Memo">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Memo </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.Memo}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="Product">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Item</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.Product}}</span> </td>
    </ng-container>


    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">ItemDescription </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.Description}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="ItemQuantity">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Item Quantity </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.ItemQuantity}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="ItemRate">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Item Rate </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.ItemRate}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="ItemAmount">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Item Amount</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.ItemQuantity * element.ItemRate}}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="ServiceDate">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">Service Date</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.ServiceDate}}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Enable/Disable </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-3">
        <mat-icon mat-icon-button class="edit enabled" *ngIf='element.priority!=1'>
          timer
        </mat-icon>
        <mat-icon mat-icon-button class="edit disabled" *ngIf='element.priority===1'>
          timer_off
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3"> View </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-3">
        <mat-icon mat-icon-button class="edit">
          delete
        </mat-icon>
        <mat-icon mat-icon-button class="edit">
          edit
        </mat-icon>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="table-wrapper tbl-border">
  <div class="table-header">
    <div>
      <h5>Promise To Pay</h5>
    </div>
  </div>
  <table mat-table [dataSource]="promiseToPayDataSource" class="glbl-tbl">
    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">
        Customer Name
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <span>{{element.CustomerName}}</span> </td>
    </ng-container>


    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4">Description</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.Description}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="ExpectedDate">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Expected Date </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.ExpectedDate}}</span> </td>
    </ng-container>


    <ng-container matColumnDef="PaymentMethod">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Payment Method</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.PaymentMethod}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> View </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <mat-icon mat-icon-button class="edit">
          delete
        </mat-icon>
        <mat-icon mat-icon-button class="edit" (click)='updatePromise(element)'>
          edit
        </mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="promisPayColums"></tr>
    <tr mat-row *matRowDef="let row; columns: promisPayColums;"></tr>
  </table>
</div>
