<nav>
    <ul>
        <li [routerLink]="['/receivables/reconcilation/datafilter']" routerLinkActive="active">
            <a>Data Filter</a>
        </li>

        <li [routerLink]="['/receivables/reconcilation/awaitingpayment']" routerLinkActive="active">
            <a>Awaiting Payment</a>
        </li>

        <li [routerLink]="['/receivables/reconcilation/reconciled']" routerLinkActive="active">
            <a>Reconciled</a>
        </li>

        <li [routerLink]="['/receivables/reconcilation/unreconciled']" routerLinkActive="active">
            <a>UnReconciled</a>
        </li>

        <li [routerLink]="['/receivables/reconcilation/settlement']" routerLinkActive="active">
            <a>Settlement</a>
        </li>

        <li [routerLink]="['/receivables/reconcilation/manuelrecon']" routerLinkActive="active">
            <a>Manuel Recon</a>
        </li>
    </ul>
</nav>