<div class="banner-wrapper">
  <ng-container *ngIf='!!invoiceDetails'>
    <div class="base-one">
      <div class="customers-details">
        <span>Invoice No: {{invoiceDetails.InvoiceNumber}}</span>
        <div class="collection-user">
          <img src="/assets//images1//andrew-watkins.jpg">
          <div>
            <span class="bold-black">{{invoiceDetails.customer.Name}}</span>
            <span class="light-black">{{invoiceDetails.customer.Email}}</span>
            <span class="light-black">Mobile : 871-567-4877</span>
          </div>
        </div>
        <div class="customer-controls">

          <div class="slider">
            <mat-slide-toggle class="glbl-toggler">Reminder</mat-slide-toggle>
          </div>

          <div class="slider">
            <mat-slide-toggle class="glbl-toggler">Late Fees</mat-slide-toggle>
          </div>

          <div class="slider-icon pointer" mat-icon-button>
            <mat-icon>
              get_app
            </mat-icon>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf='!!invoiceDetails'>
    <div class="base-two">
      <div class="check-details">
        <div class="payment-status">
          <span>
            PAYMENT STATUS
          </span>
          <div>
            <span class="bold-black">Status</span>
            <span class="bounce"> {{invoiceDetails.PaymentStatus}}</span>
          </div>
          <div>
            <span class="bold-black">Balance</span>
            <span class="currency">$ {{invoiceDetails.Amount}}</span>
          </div>
        </div>
        <div class="payment-details">
          <div>
            <span>Order Date:</span>
            <span>{{invoiceDetails.ServiceDate | date: 'MM-dd-yyyy'}} </span>
          </div>
          <div>
            <span>Due Date:</span>
            <span>{{invoiceDetails.DueDate | date: 'MM-dd-yyyy'}}</span>
          </div>
          <div>
            <span>Invoice Date:</span>
            <span> {{invoiceDetails.InvoiceDate | date: 'MM-dd-yyyy'}}</span>
          </div>
          <!-- <div>
            <span>Order Date:</span>
            <span>July 23, 2020</span>
          </div> -->
          <div>
            <span>Terms:</span>
            <span>{{invoiceDetails.Terms}}</span>
          </div>
          <div>
            <span>Payment Terms:</span>
            <span>{{invoiceDetails.PaymentStatus}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <div class="base-three" #chartWrapper>
    <div class="chart-wrapper">
      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="barChartData" [gradient]="false"
        [animations]='animations' [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [barPadding]="barPadding" [showDataLabel]='showDataLabel' (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
</div>
