<div class="left-wrapper">

  <div class="logo">
    <span>Fetch My</span>
    <span>Payments</span>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <img src="assets/images1/home.png" class="home">
      <span>Home</span>
    </mat-list-item>


    <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
      <div class="slide-inner">
        <img src="assets/images1/setup-icon.png" class="refresh">
        <div>
          <span>Receivable</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>
      <ul>
        <li (click)="navigateToPath('/receivables/reminder')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Create Reminders</span>
        </li>

        <li (click)="navigateToPath('/receivables/customer')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Customers</span>
        </li>


        <li (click)="navigateToPath('/reminder')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Invoices</span>
        </li>

        <li (click)="navigateToPath('/reminder')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Payments</span>
        </li>

        <li (click)="navigateToPath('/reminder')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Reconcilliation</span>
        </li>

        <li (click)="navigateToPath('/reminder')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Customer Portal</span>
        </li>

      </ul>
    </div>


    <!-- <mat-list-item role="listitem" (click)="navigateToPath('/reminder')">
      <mat-icon mat-list-icon>home</mat-icon>
      <img src="assets/images1/reminder.png" class="reminder" >
      <span>Create Reminders</span>
    </mat-list-item> -->

    <!-- reminder -->
    <!-- <mat-list-item role="listitem"
     routerLinkActive="active"  (click)="navigateToOverView('/reminder')">
      <img src="assets/images1/Customers.png" class="customer">
      <span>Customers</span>
    </mat-list-item> -->

    <!-- /admin/invoice-details' -->
    <!-- <mat-list-item role="listitem" (click)="navigateToPath('/reminder')">
      <mat-icon mat-list-icon>home</mat-icon> [queryParams]="{ CustomerId: customerId }"
      <img src="assets/images1/Invoices.png" class="refresh">
      <span>Invoices</span>
    </mat-list-item> -->

    <!-- <mat-list-item role="listitem" (click)="navigateToPath('/reminder')">
         [routerLink]="['/admin/payment']" routerLinkActive="active"
        <mat-icon mat-list-icon>home</mat-icon> Payments-logo.png
      <img src="assets/images1/Payments.png" class="refresh">
      <span>Payments</span>
    </mat-list-item> -->

    <mat-list-item role="listitem" class='slide-in-up' appExpandMenu>
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <div class="slide-inner">
        <img src="assets/images1/Advanced.png" class="refresh">
        <div>
          <span>Advanced</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>
      <ul>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Payment plans</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Recurring Payments</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Late Fees</span>
        </li>
      </ul>
    </div>


    <mat-list-item role="listitem">
      <img src="assets/images1/Reconciliation.png" class="refresh">
      <span>Reconcilliation</span>
    </mat-list-item>


    <mat-list-item role="listitem">
      <img src="assets/images1/customer-portal.png" class="people">
      <span>Customer Portal</span>
    </mat-list-item>

    <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
      <div class="slide-inner">
        <img src="assets/images1/setup-icon.png" class="refresh">
        <div>
          <span>Setup</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>


      <ul>
        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu
          >
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Authorisation</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/authorisation/project')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Projects</span>
            </li>
            <li (click)="navigateToPath('/authorisation/group')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Groups</span>
            </li>
            <li (click)="navigateToPath('/authorisation/role')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Role & permission</span>
            </li>
            <li (click)="navigateToPath('/authorisation/add-plugin')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Add Plugin</span>
            </li>
            <li (click)="navigateToPath('/authorisation/team-space')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Team Space</span>
            </li>
            <li (click)="navigateToPath('/authorisation/allocation')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Allocation</span>
            </li>
          </ul>
        </div>

        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Data Sources</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/data-source/source-home')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Source Home</span>
            </li>
            <li (click)="navigateToPath('/data-source/complex')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Complex</span>
            </li>
            <li (click)="navigateToPath('/data-source/excel')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Excel</span>
            </li>
            <li (click)="navigateToPath('/data-source/form')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Form</span>
            </li>
            <li (click)="navigateToPath('/data-source/internal')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Internal</span>
            </li>
            <li (click)="navigateToPath('/data-source/web-service')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Web Service</span>
            </li>
          </ul>
        </div>


        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Event Action</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/event-action/action')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Action</span>
            </li>
            <li (click)="navigateToPath('/event-action/action-package')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Action Package</span>
            </li>
            <li (click)="navigateToPath('/event-action/event')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Event</span>
            </li>
            <li (click)="navigateToPath('/event-action/event-package')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Event Package</span>
            </li>
            <li (click)="navigateToPath('/event-action/manage-event-action')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Event Action</span>
            </li>
            <li (click)="navigateToPath('/event-action/save-verison')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Save Version</span>
            </li>
          </ul>
        </div>

        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Payments</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/payments/stripe')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Action</span>
            </li>
            <li (click)="navigateToPath('/payments/razorpay')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Razorpay</span>
            </li>
            <li (click)="navigateToPath('/payments/credit-card')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Credit card</span>
            </li>
            <li (click)="navigateToPath('/payments/paypal')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Paypal</span>
            </li>
         
          </ul>
        </div>

        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Web Services</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/web-services/manage-event')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Event</span>
            </li>
            <li (click)="navigateToPath('/web-services/add-event')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Add Event</span>
            </li>
            <li (click)="navigateToPath('/web-services/save-version')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Save & Version</span>
            </li>
            <li (click)="navigateToPath('/web-services/event-list')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Event List</span>
            </li>
         
          </ul>
        </div>

        <!-- //import-export -->
        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Data Import/Export</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/import-export/import-data')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Import Data</span>
            </li>
            <li (click)="navigateToPath('/import-export/upload')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Upload</span>
            </li>
            <li (click)="navigateToPath('/import-export/map-file')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Map File</span>
            </li>
            <li (click)="navigateToPath('/import-export/review-save')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Review & Save</span>
            </li>
            <li (click)="navigateToPath('/import-export/map-list')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Map List</span>
            </li>
          </ul>
        </div>
       
        <!-- //fullfillment -->
        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Fullfillment</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/fullfillment/free-trail')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Request Free Trail</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/extend-trail')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Extended Trail</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/suspend-account')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Suspend Account</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/restore-suspentions')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Restore Suspentions</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/upgrade-trail')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Upgrade Trail</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/service-extension')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Service Extension</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/restore-suspention')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Restore Suspention</span>
            </li>
            <li (click)="navigateToPath('/fullfillment/service-master')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Service Master</span>
            </li>
          </ul>
        </div>

        <!-- //settings -->
        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Settings</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/setup/email')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Email</span>
            </li>
            <li (click)="navigateToPath('/setup/chat')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Chat</span>
            </li>
            <li (click)="navigateToPath('/setup/whatsapp')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Whatsapp</span>
            </li>
            <li (click)="navigateToPath('/setup/sms')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>SMS</span>
            </li>
            <li (click)="navigateToPath('/setup/call-centre')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Call Center</span>
            </li>
          </ul>
        </div>
        
        <!-- //settings -->
        <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
          <div class="slide-inner">
            <!-- <img src="assets/images1/setup-icon.png" class="refresh"> -->
            <div>
              <span>Other Settings</span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </mat-list-item>
        <div class="glbl-open-advance" @fade>
          <ul>
            <li (click)="navigateToPath('/other-settings/rule-flow')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Create Rule Flow</span>
            </li>
            <li (click)="navigateToPath('/other-settings/create-rule')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Create Rules</span>
            </li>
            <li (click)="navigateToPath('/other-settings/workflow')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Create Work Flow</span>
            </li>
            <li (click)="navigateToPath('/other-settings/analytics')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Google Analytics/GTM</span>
            </li>
            <li (click)="navigateToPath('/other-settings/mail-read')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Mail Read & Track</span>
            </li>
            <li (click)="navigateToPath('/other-settings/manage-rule-flow')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Rule Flow</span>
            </li>
            <li (click)="navigateToPath('/other-settings/manage-rules')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Rules</span>
            </li>
            <li (click)="navigateToPath('/other-settings/manage-workflow')">
              <img src="assets/images1/Payment.png" class="refresh">
              <span>Manage Work Flow</span>
            </li>
          </ul>
        </div>
        <!-- <li (click)="navigateToPath('/settings/payments')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Payments</span>
        </li> -->
        <!-- <li (click)="navigateToPath('/settings/web-services')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Web Services</span>
        </li> -->
      </ul>
    </div>


    <!-- //Incentives -->
    <mat-list-item role="listitem" class="slide-in-up" appExpandMenu (click)="navigateToPath('/settings/user')">
      <div class="slide-inner">
        <img src="assets/images1/setup-icon.png" class="refresh">
        <div>
          <span>Incentives</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>
      <ul>
        <li (click)="navigateToPath('/incentives/team')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Team</span>
        </li>
        <li (click)="navigateToPath('/incentives/plan')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Plan</span>
        </li>
        <li (click)="navigateToPath('/incentives/quota')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Quota</span>
        </li>
        <li (click)="navigateToPath('/incentives/contract')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Contract</span>
        </li>
        <li (click)="navigateToPath('/incentives/analytics')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Analytics</span>
        </li>
        <li (click)="navigateToPath('/incentives/objects')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Objects</span>
        </li>
        <li (click)="navigateToPath('/incentives/rule-flow')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Rule Flow</span>
        </li>
        <li (click)="navigateToPath('/incentives/data-sources')">
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Data Sources</span>
        </li>
      </ul>
    </div>
  </mat-list>
</div>