
<div class="tiles-wrapper">
  <a class="tiles-inner user-details"  [routerLink]="['/authorisation/user']" routerLinkActive="active">
    <span>General</span>
  </a>
  <a class="tiles-inner proj" [routerLink]="['/authorisation/project']" routerLinkActive="active">
    <span>Projects</span>
  </a>
  <a class="tiles-inner group" [routerLink]="['/authorisation/group']" routerLinkActive="active">
    <span>Groups</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/authorisation/role']" routerLinkActive="active">
    <span>Roles & permission</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/authorisation/add-plugin']" routerLinkActive="active">
    <span>Add Plugin</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/authorisation/team-space']" routerLinkActive="active">
    <span>Team Space</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/authorisation/allocation']" routerLinkActive="active">
    <span>Allocation</span>
  </a>
</div>
