<!-- <div class="role-wrapper" *ngIf='!isRoleSelected'> -->
  <div class="role-wrapper">
  <div class="single-flex">
    <button mat-button class="xs-glbl-btn orange-btn" (click)='openRoleDialog()' onclick="this.blur()">
      <mat-icon>add_circle</mat-icon>
      <span>New Role</span>
    </button>
    <!-- <button mat-button class="xs-glbl-btn blue-btn">
      <mat-icon>add_circle</mat-icon>
      <span>Permission Report</span>
    </button> -->
  </div>
  <div class="role-inner">
    <!-- <app-table-grid (roleData)='getSelectedRole($event)'></app-table-grid> -->
    <app-table-grid></app-table-grid>
  </div>
</div>
<!-- <div *ngIf='!isRoleSelected'>
  <button mat-button class="glbl-btn">
    Save
  </button>
</div> -->

<!-- <ng-container *ngIf='isRoleSelected'>
  <div class="bold"><span>Roles:</span>{{this.roleSelectedData}}</div>
  <app-admin-role-permission></app-admin-role-permission>
</ng-container> -->
