
<div class="tiles-wrapper">
  <a class="tiles-inner user-details"  [routerLink]="['/settings/user']" routerLinkActive="active">
    <span>General</span>
  </a>
  <a class="tiles-inner proj" [routerLink]="['/settings/project']" routerLinkActive="active">
    <span>Projects</span>
  </a>
  <a class="tiles-inner group" [routerLink]="['/settings/group']" routerLinkActive="active">
    <span>Groups</span>
  </a>
  <a class="tiles-inner rp" [routerLink]="['/settings/role']" routerLinkActive="active">
    <span>Roles & permission</span>
  </a>
</div>
